* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Mulish", sans-serif;
}

/* HEADER */
header {
  position: sticky;
  top: 0;
  height: 76px;
  background-color: rgba(0, 0, 0, 0.326);
  /* z-index: 100; */
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 22px 10px 22px;
  flex-grow: 1;
}

.nav-wrapper .menu-wrapper {
  margin-left: 50px;
  display: flex;
  justify-items: stretch;
  align-items: center;
  gap: 35px;
}

.menu-wrapper .menu {
  display: flex;
  gap: 35px;
}

.menu-link {
  color: white;
  text-decoration: none;
}

.menu-wrapper .menu .menu-item .menu-link.active {
  font-weight: bolder;
  text-decoration: underline orange 2px;
  text-underline-offset: 8px;
}

.logo-title {
  color: white;
  text-decoration: none;
}

.menu-btn {
  margin-right: 50px;
  display: flex;
  gap: 15px;
  align-items: center;
}

.btn {
  height: 40px;
  width: 68px;
  border-radius: 10%;
}

.sign-in {
  border: 1px solid white;
  color: white;
  background-color: rgba(0, 0, 0, 0);
}

.sign-in:hover {
  background-color: white;
  color: black;
}

.register {
  border: none;
  background-color: orange;
  color: white;
}

.register:hover {
  background-color: rgb(206, 134, 0);
}

/* MAIN BODY */
body {
  box-sizing: border-box;
  max-width: 100vw;
}

.home-one {
  display: flex;
  height: 900px;
  margin-top: -76px;
}

.home-box {
  display: flex;
  padding: 0 100px 0 100px;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 30px;
  color: white;
}

.title-one-h1 {
  font-size: 35pt;
}

.text-one {
  font-weight: 100;
}

.start-button {
  border: none;
  background-color: orange;
  padding: 13px 25px;
  border-radius: 5px;
}

.start-button:hover {
  background-color: rgb(206, 134, 0);
}

.one-numbers {
  display: flex;
}

.staff-h1,
.stores-h1,
.customer-h1 {
  color: orange;
  font-size: 35pt;
  /* margin-right: 25px; */
}

.staff {
  padding: 0 25px 0 0;
  border-right: 1px solid white;
}

.customer {
  padding: 0 0 0 25px;
  border-left: 1px solid white;
}

.stores {
  padding: 0 25px 0 25px;
}

.home-two {
  display: flex;
  height: 900px;
}

.welcome-box {
  display: flex;
  padding: 0 100px 0 100px;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 30px;
}

.two-h1 {
  font-size: 35pt;
  font-weight: 900;
  padding-left: 25px;
  /* border-style: */
  border-left: 5px solid orange;
}

.h1-brown {
  color: rgb(142, 100, 71);
  font-weight: 900;
}

.desc-item {
  display: flex;
  padding: 20px 0;
}

.check-bullet {
  margin-right: 10px;
  align-content: center;
}

#left-home {
  background: url("/assets/img/Rectangle\ 286.jpg");
  width: 50%;
  position: inherit;
  left: 0px;
  background-size: cover;
  height: 900px;
}

#right-home {
  background: url("/assets/img/Rectangle\ 287.jpg");
  background-repeat: no-repeat;
  width: 50%;
  position: inherit;
  right: 0px;
  background-size: cover;
  height: 900px;
}

#left-welcome {
  background: white;
  width: 50%;
  position: inherit;
  left: 0px;
  background-size: cover;
  height: 900px;
}

#right-welcome {
  background: url("/assets/img/Rectangle\ 291.jpg");
  background-repeat: no-repeat;
  width: 50%;
  position: inherit;
  right: 0px;
  background-size: cover;
  background-position: center;
  height: 900px;
}

/* FOOTER */

footer {
  position: relative;
}

.footer-bar {
  background-color: #f5f6f8;
  height: 280px;
  padding: 25px 50px;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  font-size: 10pt;
}

.footer-wrapper {
  /* flex: 1; */
  gap: 10px;
}

.description {
  width: 250px;
}

.description-foo {
  margin-top: 25px;
  margin-right: 10px;
  color: gray;
}

.copyright-foo {
  margin-top: 70px;
  color: rgb(179, 179, 179);
}

.product-item {
  margin-top: 15px;
}

.product-link {
  color: grey;
  text-decoration: none;
}

.engage-item {
  margin-top: 15px;
}

.engage-link {
  color: grey;
  text-decoration: none;
}

.social-media {
  margin-bottom: 15px;
}
