* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Mulish", sans-serif;
}

/* HEADER */
header {
  position: sticky;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 22px 10px 22px;
  flex-grow: 1;
  background-color: black;
}

.nav-wrapper .menu-wrapper {
  margin-left: 50px;
  display: flex;
  justify-items: stretch;
  align-items: center;
  gap: 35px;
}

.menu-wrapper .menu {
  display: flex;
  gap: 35px;
}

.menu-link {
  color: white;
  text-decoration: none;
}

.menu-wrapper .menu .menu-item .menu-link.active {
  font-weight: bolder;
  text-decoration: underline orange 2px;
  text-underline-offset: 8px;
}

.logo-title {
  color: white;
  text-decoration: none;
}

.menu-btn {
  margin-right: 50px;
  display: flex;
  gap: 15px;
  align-items: center;
}

.btn {
  height: 40px;
  width: 68px;
  border-radius: 10%;
}

.sign-in {
  border: 1px solid white;
  color: white;
  background-color: rgba(0, 0, 0, 0);
}

.sign-in:hover {
  background-color: white;
  color: black;
}

.register {
  border: none;
  background-color: orange;
  color: white;
}

.register:hover {
  background-color: rgb(206, 134, 0);
}

/* MAIN BODY */

/* FOOTER */

.footer-bar {
  background-color: #f5f6f8;
  height: 280px;
  padding: 25px 50px;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  font-size: 10pt;
}

.footer-wrapper {
  /* flex: 1; */
  gap: 10px;
}

.description {
  width: 250px;
}

.description-foo {
  margin-top: 25px;
  margin-right: 10px;
  color: gray;
}

.copyright-foo {
  margin-top: 70px;
  color: rgb(179, 179, 179);
}

.product-item {
  margin-top: 15px;
}

.product-link {
  color: grey;
  text-decoration: none;
}

.engage-item {
  margin-top: 15px;
}

.engage-link {
  color: grey;
  text-decoration: none;
}

.social-media {
  margin-bottom: 15px;
}
